* {
  border-radius: 0 ! important;
  font-family: 'Roboto', sans-serif;
}

iframe {
  width: 100%;
  height: 100vh;
}
.grid-item {
  float: left;
  background-color: grey;
  margin-bottom: 20px;
  border: 1px;
  border-color: silver;
  border-style: solid;
  box-shadow: 2px 2px 2px #bbb;
  color: white;
  font-size: 2.5rem;
}

.grid-sizer {
  width: 8.2%;
}
.gutter-sizer {
  width: 1%;
}

.slide {
  width: 31%;
}

.slide img {
  width: 100%;
}

.slide-caption {
  padding: 1.5%;
}

.text-slide {
  width: 23%;
  color: white;
  padding: 1.5%;
}

.long-slide {
  width: 47%;
}

.long-slide img {
  float: left;
  padding-right: 4.5%;
  margin-right: 4.5%;
  border-color: white;
  border-style: solid;
  border-right: 1px;
}

.text-slide img {
  width: 80%;
  margin-left: 10%;
}

.grid-item:hover {
  box-shadow: 5px 5px 3px #888;
  color: orange;
}
.navbar .container-fluid {
  border-color: silver;
  border-style: solid ! important;
  border: 2px;
}

.nav-stacked {
  border-color: silver;
  border: 0;
  border-right: 3px;
  border-style: solid ! important;
  margin-right: 10px;
}

.jumbotron h1 {
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  float: left;
}

.borrowing {
  background-image: url("/assets/img/borrowing.jpg");
  background-size: cover;
}

.research {
  background-image: url("/assets/img/research.jpg");
  background-size: cover;
}

.events {
  background-image: url("/assets/img/events.jpg");
  background-size: cover;
}

.learn-online {
  background-image: url("/assets/img/learn-online.jpg");
  background-size: cover;
}
