<h1><strong><img src="images/tech-boot-camp-logo2.gif" alt="Technology Boot Camp" width="500" height="189" /></strong></h1>
    <table width="509" border="0">
      <tr>
        <td colspan="3">The Library’s Technology Boot Camp  is a free, self-guided program to help individuals discover and strengthen  skills to work, play, and learn online.  Participants  can access the Technology Boot  Camp website from any computer with Internet connection. Each tag  below covers a different topic:  blogging, cloud computing, social media, photo sharing, and more. Click on the topics that interest you and explore at your own pace.</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="165"><div align="center"><a href="http://www.lfpl.org/techbootcamp/?page=static1317912782" class="imagelink"><img src="images/tag-blog.gif" alt="Tech Boot Camp Intro and Blogging tag" width="150" height="79" /></a></div></td>
        <td width="165"><div align="center"><a href="http://www.lfpl.org/techbootcamp/?x=entry:entry111012-132024" class="imagelink"><img src="images/tag-cloud.gif" alt="Cloud Computing tag" width="150" height="79" /></a></div></td>
        <td width="165"><div align="center"><a href="http://www.lfpl.org/techbootcamp/?x=entry:entry111019-150735" class="imagelink"><img src="images/tag-social.gif" alt="Social Media tag" width="150" height="79" /></a></div></td>
      </tr>
      <tr>
        <td><div align="center">          <a href="http://www.lfpl.org/techbootcamp/?page=static1317912782">Blogging</a></div></td>
        <td><div align="center">          <a href="http://www.lfpl.org/techbootcamp/?x=entry:entry111012-132024">Cloud Computing</a></div></td>
        <td><div align="center">          <a href="http://www.lfpl.org/techbootcamp/?x=entry:entry111019-150735">Social Media</a></div></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><div align="center"><a href="http://www.lfpl.org/techbootcamp/?x=entry:entry111031-101718" class="imagelink"><img src="images/tag-photos.gif" alt="Photo Sharing tag" width="150" height="79" /></a></div></td>
        <td><div align="center"><a href="http://www.lfpl.org/techbootcamp/?x=entry:entry111107-104758" class="imagelink"><img src="images/tag-library.gif" alt="Library Resources tag" width="150" height="79" /></a></div></td>
        <td><div align="center"><a href="http://www.lfpl.org/techbootcamp/?page=static1320873325" class="imagelink"><img src="images/tag-rss.gif" alt="RSS tag" width="150" height="79" /></a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="http://www.lfpl.org/techbootcamp/?x=entry:entry111031-101718">Photo Sharing</a></div></td>
        <td><div align="center"><a href="http://www.lfpl.org/techbootcamp/?x=entry:entry111107-104758">Library Resources</a></div></td>
        <td><div align="center"><a href="http://www.lfpl.org/techbootcamp/?page=static1320873325">RSS</a></div></td>
      </tr>
    </table>
