
    <h2><a name="check" id="check"></a>Check Your Library Account or Renew Items </h2>
    <h3>By Phone</h3>
    <p class="bold">Call the automated renewal line:   574-1732</p>
    <h3>Via the Web</h3>
    <p>It is now possible to check your library account online. From your account you can do the following:</p>
    <ul>
      <li>See a list of items checked out on your card.</li>
      <li>Renew items. </li>
      <li>See a list of fines owed.</li>
      <li>See a list of items on request or being held. </li>
      <li>Suspend or cancel hold requests. </li>
      <li>Submit updates to your contact information. </li>
    </ul>
    <p>To access your library account online follow these instructions</p>
    <ol>
      <li> First you will need the number from your LFPL library card (the 13 digits below the barcode).</li>
      <li> Then you will need your account password. If you do not remember your password, go to <a href="#pw">What Is My Password</a></li>
      <li> Finally click on &quot;<a href="http://pac.lfpl.org/polaris/patronaccount/default.aspx?">My Account</a>&quot; from any page of our Web site and enter your barcode number and password and click on the login button.</li>
    </ol>
