<h2><a name="circ" id="circ"></a>Circulation Policies</h2>
<p>
  A maximum of <strong>99</strong> items may be checked out per patron.
  <br/>Items may be returned to any Louisville Free Public Library location. 
  <br/>Any lost or damaged items will be the responsibility of the borrower
  (<em>see</em><strong><em><a href="#lost"> Lost Item Policy</a></em></strong>).
</p>
        <div class="info-folder">
          <div class="info-topic">
            <h1>Circulation period</h1>
            <div class="info-category">
              <h2>Books</h2>
              <div class="info-content">CONTENT ON BOOKS</div>
            </div>
          </div>
          <div class="info-category">
            <h2>DVD/Videos</h2>
            <div class="info-content">CONTENT ON DVD/Videos</div>
          </div>
          <div class="info-category">
            <h2>Audiobooks</h2>
            <div class="info-content">CONTENT ON Audiobooks</div>
          </div>
        </div>
        <div class="info-topic">
          <h1>Renewals</h1>
          <div class="info-category">
            <h2>Books</h2>
            <div class="info-content">CONTENT ON BOOKS</div>
          </div>
          <div class="info-category">
            <h2>DVD/Videos</h2>
            <div class="info-content">CONTENT ON DVD/Videos</div>
          </div>
          <div class="info-category">
            <h2>Audiobooks</h2>
            <div class="info-content">CONTENT ON Audiobooks</div>
          </div>
        </div>
        <div class="info-topic">
          <h1>Overdue fines</h1>
          <div class="info-category">
            <h2>Books</h2>
            <div class="info-content">CONTENT ON BOOKS</div>
          </div>
          <div class="info-category">
            <h2>DVD/Videos</h2>
            <div class="info-content">CONTENT ON DVD/Videos</div>
          </div>
          <div class="info-category">
            <h2>Audiobooks</h2>
            <div class="info-content">CONTENT ON Audiobooks</div>
          </div>
        </div>
