<div class="row">
  <div class="grid col-md-12">
    <div class="grid-item slide">
      <img src="assets/img/slides/1kbb4k-slide2.gif">
    </div>
    <div class="grid-item slide">
     <img src="assets/img/slides/ben-sollee-slider.gif">
    </div>
    <div class="grid-item slide">
      <img src="assets/img/slides/DeathClass_slider.jpg">
    </div>
    <div class="grid-item slide">
      <img src="assets/img/slides/intl-month-slide.gif">
    </div>
    <div class="grid-item slide">
      <img src="assets/img/slides/Share100Stories_slider.jpg">
    </div>
  </div>
</div>
<script type="text/javascript">

$('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 100,
  gutter: 5 
});

</script>
