
    <h1><a id="top" name="top"></a><img src="assets/img/gen-header.gif" alt="Kentucky History and Genealogy Collection" width="579" height="161" /></h1>
    <p>The mission of the Library’s Kentucky History and Genealogy collection is to   ensure that residents of Metro Louisville and users living far beyond its   borders will have reliable access to primary and secondary source materials of   historical and genealogical value well into the future. </p>
    <p>The collection is located on the 2nd floor of the <a href="http://www.lfpl.org/branches/main.htm">Main Library</a>. </p>
    <h2><a name="events" id="events"></a>Programs &amp; Services</h2>
    <ul>
      <ul>
        <li><a href="http://www.lfpl.org/branches/main.htm">Hours and location   information</a></li>
        <li><a href="genealogy.htm">List of KHR collection resources</a> </li>
        <li><a href="http://www.lfpl.org/pdf/KHR-Floorplan.pdf">Printable   floor plan of the KHR collection </a></li>
        <li><a href="http://www.lfpl.org/research/Subjects/BiographiesGenealogy.asp">Genealogy   Research Tools</a> </li>
        <li><a href="http://www.lfpl.org/internet/genealogy.htm">Genealogy Links</a></li>
        <li><a href="pdf/ResearchRequestForm.pdf">Printable Research Request Form </a><a name="genday" id="genday"></a></li>
      </ul>
    </ul>
    <table border="0" width="609" height="587">
      <tbody>
        <tr valign="top">
          <td height="24"><h2 align="center"><img src="assets/img/Gen-Day-art-copy.gif" alt="Genealogy Day" width="215" height="237" /></h2></td>
          <td><h2>SAVE THE DATE: <em>Genealogy Day - Take 2</em> is scheduled for Saturday, August 29!</h2>
            <p>Due to inclement weather on our annual Genealogy Day in February, the library will offer <em><strong>Genealogy Day - Take 2</strong></em> this August. Genealogy Day is the library’s signature conference for those interested in local and family history. This bonus program will take place from 9:15 a.m. - 5 p.m. at the Main Library in the Centennial Room. Join us there!</p>
            
            <p>2015 Take 2 Program Schedule - <a href="http://www.lfpl.org/pdf/GenealogyDay2.pdf" target="_blank">click here</a>.</p>
   
   </td>
        </tr>
        <tr valign="top">
          <td height="24" colspan="2"><hr /></td>
        </tr>
        <tr valign="top">
          <td height="24"><h1>Past Programs </h1></td>
          <td>&nbsp;</td>
        </tr>
        <tr valign="top">
          <td height="91" colspan="2"><h2>Genealogy Day schedule of speakers and workshops: </h2>
          <p><a href="http://www.lfpl.org/genealogy-day2014.html">2014</a><a href="course-archive.htm#fall"> </a> | <a href="http://www.lfpl.org/pdf/Genealogy-Day-2013-Schedule.pdf" target="_blank">2013</a><a href="course-archive.htm#fall"> </a> | <a href="http://www.lfpl.org/genealogy-day.html">2012</a></p></td>
        </tr>
        <tr valign="top">
          <td width="184" height="223"><p align="center"> <img src="assets/img/jrr_pic_10_5_10.jpg" alt="American Civil War with noted researcher and lecturer, Joseph Reinhart" width="215" height="184" /></p>              </td>
          <td width="415"><h2>Kentucky   during the Civil War </h2>
          <p>Commemorate the 150th anniversary of the American Civil War with noted   researcher and lecturer, Joseph Reinhart - author of the recently published A   German hurrah!: Civil War letters of Friedrich Bertsch and Wilhelm Stangel, 9th   Ohio Infantry. </p>
          <p><a href="media_files/JosephReinhart_LFPL_08_13_2011.mp3">Listen now </a></p></td>
        </tr>
        
        <tr valign="top">
          <td height="187"><div align="center">
              <p><img src="assets/img/Civil-War-Soldiers.jpg" alt="Civil War soldiers" width="215" height="147" /></p>
          </div></td>
          <td><h2>Researching   your Civil War Ancestors </h2>
          <p>LFPL's Genealogy Librarian, Joe Hardesty, discusses sources and strategies to   use when researching your Civil War Ancestors. </p>
            <p><a href="media_files/JoeHardesty_LFPL_08_13_2011.mp3">Listen now </a></p></td>
        </tr>
      </tbody>
    </table>
