
    <h1><a name="top" id="top"></a>Interlibrary Loan Services (ILL)</h1>
    <p>Through our  Interlibrary Loan (ILL) service, you may borrow certain types of materials from  other libraries, such as books, magazine and newspaper articles, and  microfilm.  </p>
    <h3>Who May Borrow</h3>
   <p> You may use  our ILL service if you hold a valid LFPL library card with no overdue items and  less than $10 in fines.  You may request  as many as three (3) items per calendar month.    </p>
    <h3>Placing Requests</h3>
    <p>To place an  ILL request, please complete the Interlibrary Loan Request Form for <a href="forms/ill-req-books.htm">Books</a> or <a href="forms/ill-req-per.htm">Other Materials</a>.  Please note that requested information  preceded by an asterisk is necessary to process your request.</p>
    <h3>Materials Not Available via ILL </h3>
    <p>Items not available via ILL include items owned by LFPL, items published within the current or previous year, media (CDs, DVDs, audiobooks), mass market paperbacks, graphic novels, entire issues of a magazine, and multiple copies of a single item.    </p>
    <h3>Pick-up/Return Locations</h3>
    <p>
      You may pick up and return ILL materials at any of our locations.  ILL items  will be checked out to you in burgundy canvas ILL delivery bags.  ILL items must be returned to the library in  these same delivery bags. 
Be sure to  leave the green ILL band on the item(s) themselves.</p>
    <h3>Time Required</h3>
    <p>It typically  takes 10-14 days to fill an ILL request but can take as long as six weeks.</p>
    <h3>Loan Period</h3>
    <p>The loan  period is set by the lending library and will be indicated on each item.</p>
    <h3>Renewals</h3>
    <p>Generally  libraries do not permit renewal of ILL materials. </p>
    <h3>Costs </h3>
    <p>LFPL does not  charge a fee for our ILL service, however many libraries do charge to loan to  us.  We pass such charges on to you.  ILL lending charges typically run $5.00 to $20.00.  Putting a dollar figure on the ILL request  form greatly increases your chance of getting the item.  Lending charges will be collected when you pick up your ILL request. We always try to obtain materials at no cost.</p>
    <h3>Photocopies </h3>
    <p>Requests for  photocopies of articles from magazines, journals and newspapers require your  approval of a maximum cost since libraries routinely charge for these.  Even putting $5.00 will greatly improve your  chance of getting the item. Charges must be paid before receiving the photocopies.</p>
    <h3>Lost or Damaged Items </h3>
    <p><span class="lessspace">Any overdue fines or replacement costs for lost or damaged materials are the responsibility of the patron. For charges billed to us, the patron's account will be charged the exact amount that the lending library charges LFPL and is not negotiable.</span></p>
    <p>For more  information on Interlibrary Loan, please see our <a href="ill-faq.htm">FAQ (Frequently Asked Questions)</a></p>
