
    <h1><a name="top" id="top"></a>Internet Links</h1>
    <p class="dbtext">For more resources, please see the databases available in <a href="http://www.lfpl.org/research/index.asp">Research Tools</a></p>
    <ul class="orangebullet">
      <li><span class="dbtext">African-American
        </span>
        <ul class="orangebullet">
          <li><a href="aa.htm#ARTS%20AND%20LITERATURE">Arts and Literature</a> | <a href="aa.htm#biography">Biography &amp; Genealogy</a> | <a href="aa.htm#BUSINESS">Business &amp; Demographics</a> | <a href="aa.htm#CIVIL%20RIGHTS%20MOVEMENT">Civil  Rights </a>| <a href="aa.htm#HISTORY">History</a> | <a href="aa.htm#CULTURE">Culture and Education</a> | <a href="aa.htm#MEDIA">Media</a> |  <a href="aa.htm#PEOPLE">People and Organizations</a> | <a href="http://www.lfpl.org/western/htms/door.htm">A Separate Flame: Louisville Western Branch</a> |  <a href="aa.htm#SLAVERY">Slavery</a> | <a href="aa.htm#Sports">Sports</a></li>
        </ul>
      </li>
       
      <li><span class="dbtext">Arts &amp; Humanities </span>
        <ul class="orangebullet">
        <li><a href="arts.htm#Arts">Arts</a> | <a href="arts.htm#Arts%20Organizations">Arts Organizations</a> |  <a href="arts.htm#Arts%20in%20Kentucky">Arts in Kentucky</a> | <a href="arts.htm#awards">Awards &amp; Prizes</a> | <a href="arts.htm#libraries">Libraries</a> | <a href="arts.htm#literature">Literature</a> | <a href="arts.htm#Louisville%20Arts">Louisville Arts</a> | <a href="arts.htm#Museums">Museums</a> | <a href="arts.htm#philosophy">Philosophy &amp; Religion</a></li>
      </ul>
      </li>
      <li><span class="dbtext">Business &amp; </span><span class="dbtext">Economy </span>
        <ul class="orangebullet">
          <li><a href="business-statistics.htm">Business Statistics &amp; Demographics</a>| <a href="business-directories.htm">Directories</a>| <a href="business-economic.htm">Economic Statistics </a> | <a href="http://www.ksbdc.org/locations/louisville">GLSBDC</a> | <a href="business-general.htm">General Business Resources</a> | <a href="business-international.htm">International Trade Information </a> | <a href="business-kentucky.htm">Kentucky</a> | <a href="business-louisville.htm">Louisville </a> | <a href="business-magazines.htm#busmags">Magazines</a> | <a href="business-magazines.htm#minority">Minority Business Information</a> | <a href="business-personal.htm">Personal Finance</a> | <a href="business-score.htm">SCORE </a> | <a href="business-smallbusiness.htm">Small Business</a> | <a href="business-stocks.htm">Stocks and Investing</a></li>
        </ul>
      </li>
      <li><span class="dbtext">Career Information
      </span>
        <ul class="orangebullet">
          <li><a href="http://blogs.lfpl.org/ccc/">LFPL's College &amp; Career Connection</a> | <a href="http://blogs.lfpl.org/ccc/helpful-links/">General Resources</a> | <a href="http://blogs.lfpl.org/ccc/career-resources/">Job Listings </a>| <a href="http://blogs.lfpl.org/ccc/community-resources/">Local Agencies </a>| <a href="http://blogs.lfpl.org/ccc/resume-help/">Resumes Help</a> | <a href="http://blogs.lfpl.org/ccc/salary-info/">Salary/Compensation</a> | </li>
        </ul>   
      </li>

      <li><span class="dbtext">Cars &amp; Trucks </span>
        <ul class="orangebullet">
          <li><a href="cars.htm#buying">Buying Guides</a> | <a href="cars.htm#general">General Resources</a> | <a href="cars.htm#repair">Repair &amp; Safety</a> | <a href="cars.htm#safe">Safe Driving</a></li>
        </ul>
      </li>
      
      <li><span class="dbtext">Colleges and Universities</span>
        <ul class="orangebullet">
          <li><a href="colleges.htm#collegegeneral">General Resources</a> | <a href="colleges.htm#collegeky">Kentucky Colleges and Universities</a></li>
        </ul>
      </li>
      <li><span class="dbtext">Consumer Information</span>
        <ul class="orangebullet">
          <li><a href="consumer.htm#appliances">Appliances</a> | <a href="consumer.htm#comparison">Comparison Shopping</a> | <a href="consumer.htm#protection">Consumer Protection</a> | <a href="consumer.htm#credit">Credit Reports</a> | <a href="consumer.htm#general">General Consumer Resources</a> | <a href="consumer.htm#green">Green Resources</a> | <a href="consumer.htm#local">Local Consumer Resources</a> | <a href="consumer.htm#relocation">Relocation</a></li>
        </ul>
      </li>
      <li><span class="dbtext">Copyrights, Patents and Trademarks
        </span>
        <ul class="orangebullet">
          <li><a href="copyrights.htm#copyrights">Copyrights</a> | <a href="copyrights.htm#general">General Resources</a><a href="copyrights.htm#kentucky"></a> | <a href="copyrights.htm#pandtlinks">Patents and Trademarks</a> | <a href="copyrights.htm#pandt">Patents and Trademarks Resource Center </a></li>
        </ul>
      </li>
      <li><span class="dbtext">Demographics &amp; Economic Statistics</span>
      <ul class="orangebullet">
      <li><a href="business-statistics.htm#Census">Census  </a> | <a href="business-statistics.htm#Health">Health </a>| <a href="business-statistics.htm#Historical">Historical Census Data</a> | <a href="business-statistics.htm#International">International</a> | <a href="business-statistics.htm#Louisville">Louisville  and Kentucky </a>| <a href="business-statistics.htm#United">United States</a></li></ul>
      </li>
      
      <li><span class="dbtext">  Disability Resources</span>
        <ul class="orangebullet">
          <li><a href="disabled.htm#accesibility">Accessibility Issues</a> | <a href="disabled.htm#assistive">Assistive Technology </a> | <a href="disabled.htm#blind">Blind </a> | <a href="disabled.htm#deafblind">Deafblind </a> | <a href="disabled.htm#federal">Federal  Resources</a> | <a href="disabled.htm#general">General Resources</a> | <a href="disabled.htm#schools">Kentucky Schools and Educational Programs</a> | <a href="disabled.htm#hearing">Hearing Impaired </a> | <a href="disabled.htm#local">Local and State  Services &amp; Resources</a></li>
        </ul>
      </li>
     
     
      <li><span class="dbtext">Education
        </span>
        <ul class="orangebullet">
          <li><a href="education.htm#adult">Adult Education &amp; Technical Schools</a>  | <a href="education.htm#boarding">Boarding and Vocational Schools</a> | <a href="http://blogs.lfpl.org/ccc/">LFPL College &amp; Career Connection</a> |<a href="education.htm#college"> College Directories</a> | <a href="education.htm#esl">Foreign Languages and English as a Second Language</a> (ESL) | <a href="education.htm#fed">Federal Government </a> | <a href="education.htm#general">General Education Resources</a> | <a href="education.htm#ged">General Equivalency Diploma </a>(GED) | <a href="education.htm#homeschooling">Home Schooling</a> | <a href="education.htm#jefferson">Jefferson County</a> | <a href="education.htm#kentucky">Kentucky </a> | <a href="education.htm#literacy">Literacy </a> | <a href="education.htm#local">Local Schools</a> | <a href="education.htm#rankings">Rankings</a> | <a href="../teen/college.htm">Scholarship and Financial Aid </a>| <a href="education.htm#testing">Testing &amp; Test Preparation</a></li>
        </ul>
      </li>
      <li><span class="dbtext">Foundation, Charities and Nonprofits</span>
      <ul class="orangebullet">
        <li> <a href="grants.htm#charities">Charities</a> | <a href="grants.htm#general">General Grant Resources</a> | <a href="grants.htm#kentuckyfoun">Kentucky Foundations</a> | <a href="grants.htm#nonprofits">Nonprofits</a></li>
        </ul>
      </li>

      <li><span class="dbtext">Gay &amp; Lesbian</span>
      <ul class="orangebullet">
        <li> <a href="glbt.htm#general">General GLBT Resources</a><a href="glbt.htm#history"></a> | <a href="glbt.htm#local">Local Organizations</a> | <a href="glbt.htm#media">Media </a> | <a href="glbt.htm#national">National Organizations</a> | <a href="glbt.htm#state">State Organizations </a></li>
        </ul>
      </li>
      
      <li><span class="dbtext">Genealogy</span>
      
        <ul class="orangebullet">
          <li><a href="genealogy.htm#cemetaries">Cemeteries and Graves</a> | <a href="genealogy.htm#census">Census </a> |  <a href="genealogy.htm#ethnic">Ethnic and Religious Sites</a>  | <a href="genealogy.htm#genresearch">Genealogical Research in Kentucky</a> |  <a href="genealogy.htm#genresearch">Genealogical Research in Louisville</a>  | <a href="../genealogy.htm">Genealogical Resources at LFPL</a> | <a href="genealogy.htm#general">General Genealogy Sites</a> | <a href="genealogy.htm#immigrants"> Immigrants</a> | <a href="genealogy.htm#kentucky">Kentucky Obituaries</a> | <a href="genealogy.htm#maps">Maps</a> | <a href="genealogy.htm#military">Military</a> | <a href="genealogy.htm#newspapers">Newspapers</a> | <a href="genealogy.htm#obituarits">Obituaries</a> | <a href="genealogy.htm#organizations">Organizations </a> | <a href="genealogy.htm#passengers">Passenger Lists</a> | <a href="genealogy.htm#vitals">Vital Statistics</a> </li>
        </ul>
      </li>
      
      <li><span class="dbtext">General Reference </span>
      <ul class="orangebullet">
          <li><a href="general.htm#daylight"> Daylight Savings</a> |<a href="general.htm#dictionaries"> Dictionaries, Thesauruses &amp; Quotations </a>|  <a href="general.htm#food">Food &amp; Recipes</a> |  <a href="general.htm#general">General Information Sources</a> | <a href="general.htm#grammar">Grammar &amp; Writing</a> | <a href="general.htm#homework">Homework</a> | <a href="general.htm#statistics">Statistics</a> | <a href="general.htm#travel">Travel </a> | <a href="general.htm#zip">Zip Codes | </a></li>
        </ul>
      </li>
      
      <li><span class="dbtext">Geography</span>
        <ul class="orangebullet">
          <li><a href="geography.htm#countries">Countries &amp; Nations</a> | <a href="geography.htm#general">General Resources</a> | <a href="geography.htm#maps">Maps</a></li>
        </ul>
      </li>
      <li><span class="dbtext">Government &amp; Law</span>
        <ul class="orangebullet">
          <li><a href="government.htm#federal">Federal Government</a> | <a href="government.htm#fedlegal">Federal Government Legal Resources</a> | <a href="government.htm#general">General Government &amp; Legal Sites</a>  | <a href="government.htm#homeland">Homeland Security </a>| <a href="government.htm#legal">Legal Research </a>| <a href="government.htm#local">Local and Kentucky Government</a> | <a href="government.htm#locallegal">Local Legal Resources</a> | <a href="government.htm#natparties">National Political Parties</a> |  <a href="government.htm#state">State Government &amp; Politics</a>  | <a href="government.htm#tax">Tax Resources</a> | <a href="government.htm#congress">United States Congress</a></li>
        </ul>
      </li>
      
      <li><span class="dbtext">Grantmaking Foundations, Charities and Non-Profits
        </span>
        <ul>
          <li><a href="grants.htm#charities">Charities</a> | <a href="grants.htm#general">General Grant Resources</a> | <a href="grants.htm#kentuckyfoun">Kentucky Foundations</a> | <a href="grants.htm#nonprofits">Non-Profits</a></li>
        </ul>
      </li>
      <li><span class="dbtext">Health </span>
        <ul class="orangebullet"> 
          <li> <a href="health.htm#addiction">Addiction/Alcoholism</a>  | <a href="health.htm#affordable">Affordable Care Act</a> |<a href="health.htm#health">General Health Resources</a> | <a href="health.htm#nutrition">Nutrition</a> | <a href="health.htm#hospitals">Hospitals and Health Care</a> | <a href="health.htm#hospitals">2010 Health Care Reform</a> </li>
        </ul>
      </li>
      
      <li><span class="dbtext">History and Biography</span> 
      <ul class="orangebullet">
        <li><a href="history.htm#docs">American Historical Documents </a> |  <a href="history.htm#american">American History</a> | <a href="history.htm#biography">Biography</a> | <a href="history.htm#generalhistory">General History Resources</a> | <a href="history.htm#kentucky">Kentucky History </a> | <a href="history.htm#louishistory">Louisville History</a></li>
        </ul>
      </li>
      
      <li><span class="dbtext">Kentucky</span>
      <ul class="orangebullet">
        <li><a href="kentucky.htm#adoptions">Adoptions</a> | <a href="kentucky.htm#general">General Information</a> | <a href="kentucky.htm#geology">Geography &amp; Geology</a> | <a href="government.htm#local">Local Government and Politics</a> | <a href="government.htm#state">State Government and Politics</a> | <a href="kentucky.htm#women">Kentucky Women</a> | <a href="kentucky.htm#legal">Legal Information</a> | <a href="kentucky.htm#licensing">Motor Vehicle Licensing</a> | <a href="kentucky.htm#vital">Vital Statistics</a></li>
        </ul>
      </li>
      
      <li> <a href="literature.htm" class="dbtext"></a><span class="dbtext">Louisville/Jefferson County </span>
        <ul class="orangebullet">
          <li><a href="louisville.htm#crime">Crimes</a> | <a href="louisville.htm#events">Events and Trade Shows</a> | <a href="louisville.htm#general">General Resources</a> | <a href="louisville.htm#homeless">Homeless</a> | <a href="louisville.htm#housing">Housing</a> | <a href="louisville.htm#human">Human Services Agencies</a> | <a href="louisville.htm#international">International Resources</a> | <a href="government.htm#local">Local Government &amp; Politics</a> | <a href="government.htm#locallegal">Local Legal Resources </a>| <a href="louisville.htm#mapping">Mapping</a> | <a href="louisville.htm#media">Media</a> | <a href="louisville.htm#neighborhoods">Neighborhoods</a> | <a href="louisville.htm#real">Real Estate</a> | <a href="louisville.htm#sports">Sports &amp; Recreation</a> | <a href="louisville.htm#utilities">Utilities</a> | <a href="louisville.htm#transportation">Transportation</a> | <a href="louisville.htm#visitor">Visitor Information</a> | <a href="louisville.htm#voter">Voter Information</a></li>
        </ul>
      </li>
      
      <li><span class="dbtext">Magazines and Newspapers  </span>
        <ul class="orangebullet">
          <li><a href="http://www.ajr.org/Newspapers.asp?MediaType=1&amp;Type=StateNews">Kentucky Newspapers</a>  |  <a href="magazines.htm#lnews">Louisville Newspapers</a> | <a href="magazines.htm#directories">Newspaper Directories </a> | <a href="magazines.htm#nnews">National Newspapers &amp; Magazine</a></li>
        </ul>
      </li>
      
      <li><span class="dbtext">Performing Arts</span>
        <ul class="orangebullet">
          <li><a href="performing-arts.htm#localarts">Local Performing Arts</a> | <a href="performing-arts.htm#film">Film</a> | <a href="performing-arts.htm#Music">Music</a> |  </li>
        </ul>
      </li>
      <li><span class="dbtext">Science &amp; Technology</span>
        <ul class="orangebullet">
          <li><a href="science-technology.htm#computers">Computers/Electronics</a>  | <a href="science-technology.htm#math">Math</a> | 
            <a href="science-technology.htm#ky">Kentucky</a> | 
          <a href="science-technology.htm#science">Science</a> | <a href="science-technology.htm#general">General Resources</a></li>
        </ul>
      </li>
      <li><span class="dbtext">Search Engines</span>
        <ul class="orangebullet">
          <li><a href="http://www.google.com/">Google</a> | <a href="http://www.yahoo.com/">Yahoo!</a> | <a href="http://www.bing.com/">Bing</a> | <a href="http://www.ask.com/">Ask.com</a></li>
        </ul>
      </li>
    </ul>
    <ul class="orangebullet"><li><span class="dbtext">Seniors</span>
        <ul class="orangebullet">
          <li><a href="seniors.htm#career">Career Information</a> | <a href="seniors.htm#general">General Resources for Seniors</a> | <a href="seniors.htm#aging">Services for Aging and Disabled Citizens</a></li>
        </ul>
    </li>
      <li><span class="dbtext">Veterans</span>
        <ul class="orangebullet">
          <li><a href="veterans.htm#info">General Information</a> |           <a href="veterans.htm#benefits">Benefits</a> | <a href="veterans.htm#health">Health Care</a> | <a href="veterans.htm#homeless">Homelessness </a>|           <a href="veterans.htm#housing">Housing Information</a> |           
            <a href="veterans.htm#jobs">Jobs</a> |           
            <a href="veterans.htm#kentucky">Kentucky</a> |           
          <a href="veterans.htm#legal">Legal</a></li>
        </ul>
      </li>
    </ul>
    <ul class="orangebullet">
    </ul>
