<div class="locations jumbotron">
  <h1>Locations and hours</h1>
  <br style="clear: left"/>
</div>
<div class="row">
  <ul class="col-md-3 nav nav-pills nav-stacked">
    <li>placeholder</li>
    <li>plceholder</li>
  </ul>
  <div class="col-md-8 info-display">
    <div class="wrapamap">
      <div id="map">berger</div>
  <table width="75%" cellpadding="5" cellspacing="3" id="branch names">
       <tr>
        <td height="59" valign="top" width="45%"><p> <a href="main.htm">Main Library</a> <br />
            301 York Street <br />
            Louisville, KY 40203 <br />
          (502) 574-1611 </p></td>
        <td height="59" valign="top" width="55%"><ul>
          <li> <span class="bold">Mon. - Thurs.</span> 9 a.m. - 9 p.m.</li>
          <li> <span class="bold">Fri., Sat.</span> 9 a.m. - 5 p.m.</li>
          <li> <span class="bold">Sunday</span> 1 - 5 p.m.</li>
        </ul></td>
      </tr>
      <tr>
        <td valign="top" width="45%"><p> <a href="bonair.htm">Bon Air</a> <br />
          2816 Del Rio Place <br />
          Louisville, KY 40220 <br />
          (502)            574-1795 </p></td>
        <td valign="top"><ul>
          <li><span class="bold">Mon. - Thurs.</span> 9 a.m. - 9 p.m.</li>
          <li> <span class="bold">Fri., Sat.</span> 9 a.m. - 5 p.m.</li>
          <li><span class="bold">Sunday</span> 1 - 5 p.m.</li>
        </ul>         </td>
      </tr>
      <tr>
        <td height="40" valign="top" width="45%"><p> <a href="crescent-hill.htm">Crescent Hill</a><br />
             2762 Frankfort Avenue <br />
             Louisville, KY 40206 <br />
          (502) 574-1793 </p></td>
        <td height="40" valign="top" width="55%"><ul>
          <li> <span class="bold">Mon. - Thurs</span>. 10 a.m. - 9 p.m.</li>
          <li>            <span class="bold">Fri., Sat.</span> - 10 a.m. - 5 p.m.</li>
          <li><span class="bold">Sunday</span> Closed</li>
        </ul></td>
      </tr>
      <tr>
        <td height="59" valign="top" width="45%"><p> <a href="fairdale.htm">Fairdale </a> <br />
           10620 W. Manslick Rd <br />
           Louisville, KY 40118 <br />
          (502) 375-2051 </p></td>
        <td height="59" valign="top" width="55%"><ul>
          <li> <span class="bold">Mon., Wed., Thurs.</span> 12 p.m. - 8 p.m.</li>
          <li><span class="bold">Tues.</span> 10 a.m. - 8 p.m.</li>
          <li> <span class="bold">Fri., Sat.</span> 10 a.m. - 5 p.m.</li>
          <li> <span class="bold">Sunday</span> Closed</li>
        </ul></td>
      </tr>
      <tr>
        <td height="40" valign="top" width="45%"><p> <a href="fern-creek.htm" class="header">Fern Creek</a><br />
          6768 Bardstown Road<br />
          Louisville, KY 40291<br />
          (502) 231-4605 </p></td>
        <td height="40" valign="top" width="55%"><ul>
          <li> <span class="bold">Mon. - Thurs.</span> 10 a.m. - 9 p.m.</li>
          <li> <span class="bold">Fri., Sat.</span> 10 a.m. - 5 p.m. </li>
          <li> <span class="bold">Sunday </span>Closed</li>
        </ul></td>
      </tr>
      <tr>
        <td height="78" valign="top" width="45%"><p> <a href="highlands-shelbypark.htm">Highlands-Shelby Park </a><br />
            1250 Bardstown Rd., #4<br />
            Louisville, KY 40204<br />
          (502) 574-1672 </p></td>
        <td height="78" valign="top" width="55%"><ul>
          <li><span class="bold"> Mon. - Thurs. </span>10 a.m. - 9 p.m. </li>
          <li> <span class="bold">Fri., Sat</span>. 10 a.m. - 5 p.m.</li>
          <li> <span class="bold">Sunday </span>Closed</li>
        </ul></td>
      </tr>
      <tr>
        <td height="59" valign="top" width="45%"><p> <a href="iroquois.htm">Iroquois  </a> <br />
          601 W. Woodlawn Ave. <br />
          Louisville, KY 40215<br />
          (502) 574-1720</p></td>
        <td height="59" valign="top" width="55%"><ul>
          <li> <span class="bold">Mon. - Thurs.</span> 10 a.m. - 9 p.m.</li>
          <li> <span class="bold">Fri., Sat.</span> 10 a.m. - 5 p.m.</li>
          <li><span class="bold">Sunday</span> 1 - 5 p.m.</li>
        </ul></td>
      </tr>
      <tr>
        <td height="40" valign="top" width="45%"><p> <a href="jeffersontown.htm">Jeffersontown </a><br />
            10635 Watterson Trail <br />
            Louisville, KY 40299<br />
          (502) 267-5713 </p></td>
        <td height="40" valign="top" width="55%"><ul>
          <li><span class="bold">Mon. - Thurs.</span> 10 a.m. - 9 p.m.</li>
          <li> <span class="bold">Fri., Sat.</span> 10 a.m. - 5 p.m.</li>
          <li> <span class="bold">Sunday</span> Closed</li>
        </ul></td>
      </tr>
      <tr>
        <td height="40" valign="top" width="45%"><p> <a href="middletown.htm">Middletown</a><br />
          200 North Juneau Drive <br />
          Louisville, KY 40243<br />
          (502) 245-7332 </p></td>
        <td height="40" valign="top" width="55%"><ul>
          <li><span class="bold"> Mon. - Thurs.</span> 10 a.m. - 9 p.m.</li>
          <li> <span class="bold">Fri., Sat.</span> 10 a.m. - 5 p.m.</li>
          <li> <span class="bold">Sunday </span>Closed</li>
        </ul></td>
      </tr>
       <tr>
        <td height="40" valign="top" width="45%"><p> <a href="newburg.htm">Newburg</a><br />
          4800 Exeter Ave.<br />
          Louisville, KY 40218<br />
          (502) 479-6160<br />
        </p></td>
        <td height="40" valign="top" width="55%"><ul>
          <li><span class="bold">Mon. - Thurs.</span> 10 a.m. - 9 p.m.</li>
          <li> <span class="bold">Fri., Sat</span>. 10 a.m. - 5 p.m.</li>
          <li> <span class="bold">Sunday </span>Closed</li>
          </ul></td>
      </tr>
      <tr>
        <td height="59" valign="top" width="45%"><p> <a href="okolona.htm">Okolona </a><br />
            7709 Preston Highway <br />
            Louisville, KY 40219<br />
          (502) 964-3515 </p></td>
        <td height="59" valign="top" width="55%"><ul>
          <li> <span class="bold">Mon. - Thurs.</span> 10 a.m. - 9 p.m.</li>
          <li> <span class="bold">Fri., Sat</span>. 10 a.m. - 5 p.m.</li>
          <li><span class="bold">Sunday</span> 1 - 5 p.m.</li>
        </ul></td>
      </tr>
      <tr>
        <td height="40" valign="top" width="45%"><p> <a href="portland.htm">Portland </a> <br />
           3305 Northwestern Pkwy <br />
           Louisville, KY 40212<br />
          (502) 574-1744 </p></td>
        <td height="40" valign="top" width="55%"><ul>
          <li> <span class="bold">Mon., Tues., Thurs.</span> 12 p.m. - 8 p.m.</li>
          <li> <span class="bold">Wed.</span> 10 a.m. - 8 p.m.</li>
          <li> <span class="bold">Fri., Sat.</span> 10 a.m. - 5 p.m.</li>
          <li> <span class="bold">Sunday</span> Closed</li>
        </ul></td>
      </tr>
      <tr>
        <td height="40" valign="top" width="45%"><p> <a href="stmatthews.htm">St. Matthews </a> <br />
           3940 Grandview Avenue <br />
           Louisville, KY 40207<br />
          (502) 574-1771 </p></td>
        <td height="40" valign="top" width="55%"><ul>
          <li> <span class="bold">Mon. - Thurs.</span> 10 a.m. - 9 p.m.</li>
          <li> <span class="bold">Fri., Sat.</span> 10 a.m. - 5 p.m.</li>
          <li><span class="bold">Sunday</span> 1 - 5 p.m.</li>
        </ul></td>
      </tr>
      <tr>
        <td height="59" valign="top" width="45%"><p> <a href="shawnee.htm">Shawnee </a><br />
            3912 West Broadway <br />
            Louisville, KY 40211<br />
          (502) 574-1722 </p></td>
        <td height="59" valign="top" width="55%"><ul>
          <li> <span class="bold">Mon. - Thurs.</span> 10 a.m. - 9 p.m.</li>
          <li> <span class="bold">Fri., Sat.</span> 10 a.m. - 5 p.m.</li>
          <li><span class="bold">Sunday</span> 1 - 5 p.m.</li>
        </ul></td>
      </tr>
      <tr>
        <td height="40" valign="top" width="45%"><p> <a href="shively.htm">Shively </a><br />
            3920 Dixie Highway <br />
            Louisville, KY 40216<br />
          (502) 574-1730 </p></td>
        <td height="40" valign="top" width="55%"><ul>
          <li><span class="bold">Mon. - Thurs.</span> 10 a.m. - 9 p.m.</li>
          <li> <span class="bold">Fri., Sat.</span> 10 a.m. - 5 p.m.</li>
          <li><span class="bold">Sunday</span> Closed</li>
        </ul></td>
      </tr>
      <tr>
        <td height="59" valign="top" width="45%"><p> <a href="southwest.htm">Southwest  </a><br />
           9725 Dixie Highway <br />
           Louisville, KY 40272<br />
          (502) 933-0029 </p></td>
        <td height="59" valign="top" width="55%"><ul>
          <li><span class="bold">Mon. - Thurs.</span> 9 a.m. - 9 p.m.</li>
          <li><span class="bold"> Fri., Sat. </span>9 a.m. - 5 p.m.</li>
          <li><span class="bold">Sunday</span> 1 - 5 p.m.</li>
        </ul></td>
      </tr>
      <tr>
        <td height="40" valign="top" width="45%"><p> <a href="western.htm">Western  </a> <br />
          604 South Tenth Street <br />
          Louisville, KY 40203<br />
          (502) 574-1779 </p></td>
        <td height="40" valign="top" width="55%"><ul>
          <li> <span class="bold">Mon., Tues., Thurs.</span> 12 p.m. - 8 p.m.</li>
          <li> <span class="bold">Wed.</span> 10 a.m. - 8 p.m.</li>
          <li> <span class="bold">Fri., Sat.</span> 10 a.m. - 5 p.m.</li>
          <li> <span class="bold">Sunday</span> Closed</li>
        </ul></td>
      </tr>
      <tr>
        <td height="78" valign="top" width="45%"><p> <a href="westport.htm">Westport  </a><br />
           8100 Westport Road <br />
           Louisville, KY 40222<br />
          (502) 394-0379</p></td>
        <td height="78" valign="top" width="55%">
          <ul>
            <li><span class="bold">Mon. - Thurs.  </span>3 p.m. - 9 p.m.</li>
            <li><span class="bold">Fri.</span>  Closed</li>
            <li><span class="bold">Sat.</span> 10 a.m.  - 5 p.m.</li>
            <li><span class="bold">Sunday</span> Closed </li>
        </ul></td>
      </tr>
    </table>

    </div>
  </div>
</div>








<script type="text/javascript">
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 38.215160, lng: -85.685417},
      zoom: 11
    });
    var markers = [];

    markers[0] = new google.maps.Marker({
      position: {lat: 38.2448434, lng: -85.7577693},
      map: map,
      title: 'Main Library'
    });

    markers[1] = new google.maps.Marker({
      position: {lat:38.2151821,lng:-85.6551983 },
      map: map,
      title: 'Bon Air'
    });

    markers[2] = new google.maps.Marker({
      position: {lat:38.2544909,lng:-85.6911308},
      map: map,
      title: 'Crescent Hill'
    });

    markers[3] = new google.maps.Marker({
      position: {lat:38.1062378,lng:-85.7605794},
      map: map,
      title: 'Fairdale'
    });

    markers[4] = new google.maps.Marker({
      position: {lat:8.1480941,lng:-85.5885116},
      map: map,
      title: 'Fern Creek'
    });

    markers[5] = new google.maps.Marker({
      position: {lat:38.2358299,lng:-85.7170353},
      map: map,
      title: 'Highlands-Shelby Park'
    });

    markers[6] = new google.maps.Marker({
      position: {lat:38.1826431,lng:-85.7715542},
      map: map,
      title: 'Iroquois'
    });

    markers[7] = new google.maps.Marker({
      position: {lat:38.1978075,lng:-85.5610059},
      map: map,
      title: 'Jeffersontown'
    });

    markers[8] = new google.maps.Marker({
      position: {lat:38.2478095,lng:-85.5264033},
      map: map,
      title: 'Middletown'
    });

    markers[9] = new google.maps.Marker({
      position: {lat:38.1817652,lng:-85.6704767},
      map: map,
      title: 'Newburg'
    });

    markers[10] = new google.maps.Marker({
      position: {lat:38.1397773,lng:-85.6867983},
      map: map,
      title: 'Okolona'
    });

    markers[11] = new google.maps.Marker({
      position: {lat:38.2752441,lng:-85.8013323},
      map: map,
      title: 'Portland'
    });

    markers[12] = new google.maps.Marker({
      position: {lat:38.249317,lng:-85.6495522},
      map: map,
      title: 'St. Matthews'
    });

    markers[13] = new google.maps.Marker({
      position: {lat:38.2498543,lng:-85.8168468},
      map: map,
      title: 'Shawnee'
    });

    markers[14] = new google.maps.Marker({
      position: {lat:38.195153,lng:-85.8068566},
      map: map,
      title: 'Shively'
    });

    markers[15] = new google.maps.Marker({
      position: {lat:38.114239,lng:-85.8591575},
      map: map,
      title: 'Southwest'
    });

    markers[16] = new google.maps.Marker({
      position: {lat:38.2497933,lng:-85.7681241},
      map: map,
      title: 'Western'
    });

    markers[17] = new google.maps.Marker({
      position: {lat:38.2757018,lng:-85.6003938},
      map: map,
      title: 'Westport'
    });

    markers[13] = new google.maps.Marker({
      position: {lat:38.2498543,lng:-85.8168468},
      map: map,
      title: 'Shawnee'
    });
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASIdxXeYZxbnx6T_obT82p-dgYq3y_7sk&callback=initMap">
</script>
