<h1 align="center"><img src="assets/img/lynda-header-short.png" width="575" height="89" alt="Lynda.com - start learning today."/></h1>
   <h1 align="center">
     <iframe src="https://player.vimeo.com/video/89354571?title=0&byline=0&portrait=0" width="575" height="323" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>&nbsp;</h1>
   <h1>Lynda.com—a premier online  learning resource  offering more than 3,400 courses covering technical skills, creative  techniques, business strategies, and more—is now available FREE  with your library card*.</h1>
   <p align="center"><a href="https://www.lynda.com/portal/sip?org=lfpl.org"><img src="assets/img/start-button.png" alt="Start Learning button" width="212" height="62" class="imagelink"/></a></p>
   <p>Once you  log into lynda.com using your library card number and password, you may want to create a personalized account by entering a name and email address. This  account will help manage your course history, playlists, bookmarks,  and Certificates of Completion. <em>If  you are a Metro Louisville employee, please enter your work email when creating your lynda.com profile.&nbsp;</em><br />
   </p>
   <p><strong>Need help navigating the site?</strong> Watch a quick overview video of how to use lynda.com<strong> <a href="http://www.lynda.com/Business-tutorials/quick-overview-our-site/77683/167579-4.html"> here</a></strong>.</p>
<p><em><strong>Don&rsquo;t have a library card?</strong> Click here to <a href="http://www.lfpl.org/get-card.htm">apply online</a></em>.</p>
<h4>*Please Note:  Library cards must be in good standing to access  all library services, including  lynda. Cards  in good standing will have an account balance under $10 and current registration information. </h4>
<hr />
<h2><a name="what" id="what"></a><strong>What does lynda offer?</strong></h2>
<p>Lynda  for Libraries allows you to watch videos in small, easy-to-manage chunks,  and to return to the lessons at your convenience. &nbsp;</p>
<p><strong>Course offerings include:</strong></p>
<ul>
  <li> Art, graphic design, and music classes,  teaching everything from 3D animation to engineering sound to the Adobe  Creative Suite (Photoshop, InDesign, and more)</li>
  <li> Help with computer programs, including  videos on how to use Microsoft Office </li>
  <li> Courses that can help you in your  career—everything from public speaking to marketing to dealing with workplace  issues</li>
  <li>Computer programming, IT management (Windows,  Linux, and Mac OS X), and web design</li>
  <li> Photography and video… just to name a  few.</li>
</ul>
<p>Lynda can be accessed  online — from home or at the Library. </p>
<p><strong>To get started learning, <a href="https://www.lynda.com/portal/sip?org=lfpl.org">click here</a>.   </strong> </p>
<p>&nbsp;</p>
<h3><a href="http://www.lfpl.org/lynda/metro-employee-policy.htm"><strong><em>Louisville Metro Government Employees- click here</em></strong></a></h3>

