
    <h1><a name="top" id="top"></a>Newspapers</h1>
    <ul class="orangebullet">
      <li><a href="#online">Online Newspapers</a></li>
      <li><a href="#print">Print Newspapers</a></li>
      <li><a href="#kentucky">Kentucky Newspapers on Microfilm</a></li>
    </ul>
    <h2><a name="online" id="online"></a>Online Newspapers</h2>
    <p>Many newspapers are available online via the library's       subscription to the following research tools:</p>
    <ul>
      <li> <a href="http://pac.lfpl.org/polaris/Search/misc/esources.aspx?ctx=1.1033.0.0.4&amp;Target=302" class="italic"> Courier-Journal</a> (1999-present)</li>
      <li>          <a href="http://pac.lfpl.org/polaris/Search/misc/esources.aspx?ctx=1.1033.0.0.4&amp;Target=322" class="italic"> New York Times</a> (1980-present)</li>
      <li>        <a href="http://pac.lfpl.org/polaris/Search/misc/esources.aspx?ctx=1.1033.0.0.4&amp;Target=323" class="italic"> New York Times Historical</a> (1851-2001)</li>
      <li>        <a href="http://pac.lfpl.org/polaris/Search/misc/esources.aspx?ctx=1.1033.0.0.4&amp;Target=329" class="italic"> Wall Street Journal</a> (1984-present)</li>
      <li>        <a href="http://pac.lfpl.org/polaris/Search/misc/esources.aspx?ctx=1.1033.0.0.4&amp;Target=335"> Newspaper Source</a> (includes USA Today and other national and regional                       newspapers)</li>
      <li><a href="http://pac.lfpl.org/polaris/Search/misc/esources.aspx?ctx=1.1033.0.0.4&amp;Target=292">Alt-Press Watch</a> (includes <em>LEO</em> and other alternative newspapers, 1995-2003)</li>
    </ul>
    <div align="center"><a href="#top">Back to Top</a></div>
    <h2><a name="print" id="print"></a>Print Newspapers</h2>
    <p>These newspapers are located at the Main  Library, 301 York Street, Louisville KY 40203.</p>
   <div class="columnwrapper">
    <div class="leftcolumn"><ul class="italic"><li><a href="http://pac.lfpl.org/polaris/view.aspx?cn=453948">Ashland Daily Independent</a></li>
          <li>
           <a href="http://pac.lfpl.org/polaris/view.aspx?cn=453983"> Atlanta Journal Constitution</a></li>
         
           <li><a href="http://pac.lfpl.org/polaris/view.aspx?cn=453982">Bardstown Kentucky Standard</a></li>
          <li>
           <a href="http://pac.lfpl.org/polaris/view.aspx?cn=412874">Barrons Weekly</a></li>
         
          <li>
           <a href="http://pac.lfpl.org/polaris/view.aspx?cn=453951" class="italic">Boston Globe</a></li>
          <li>
           <a href="http://pac.lfpl.org/polaris/view.aspx?cn=453974" class="italic">Bowling Green: Park City Daily News</a></li>
          <li>
           <a href="http://pac.lfpl.org/polaris/view.aspx?cn=437335" class="italic">Business First of Louisville</a></li>
         
          <li><a href="http://pac.lfpl.org/polaris/view.aspx?cn=453952">Chicago Tribune</a></li>
          <li>
           <a href="http://pac.lfpl.org/polaris/view.aspx?cn=453991">Christian Science Monitor</a></li>
          <li>
           <a href="http://pac.lfpl.org/polaris/view.aspx?cn=436283">Cincinnati Enquirer</a></li>
          <li><a href="http://pac.lfpl.org/polaris/view.aspx?cn=453956">Dallas Morning News</a></li>
          <li><a href="http://pac.lfpl.org/polaris/view.aspx?cn=453981">Elizabethtown News Enterprise</a></li>
          <li>
           <a href="http://pac.lfpl.org/polaris/view.aspx?cn=453994">Frankfort State Journal</a></li>
         
          <li><a href="http://pac.lfpl.org/polaris/view.aspx?cn=453960">Indianapolis Star</a></li>
          <li>
           <a href="http://pac.lfpl.org/polaris/view.aspx?cn=404859">Investors Business Daily</a></li>
         
          <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=453962">Lexington Herald Leader</a></li>
          <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=453963">Los Angeles Times</a></li>
          <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=411990">Louisville Courier Journal</a></li>
          <li><a href="http://leoweekly.com/">LEO</a></li>
    </ul>
    </div>
    <div class="rightcolumn"><ul class="italic">
      <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=453999">Louisville Defender</a></li>
      <li><a href="http://pac.lfpl.org/polaris/view.aspx?cn=453964">Memphis Commercial Appeal</a></li>
        <li><a href="http://pac.lfpl.org/polaris/view.aspx?cn=453996">New Albany Tribune</a></li>
      <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=401511">New York Times (National ed.)</a></li>
      <li><a href="http://pac.lfpl.org/polaris/view.aspx?cn=453980">Owensboro Messenger</a></li>
      <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=453992">Paducah Sun</a></li>
      <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=453968">Philadelphia Inquirer </a></li>
      <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=454003">Portland Anchor</a></li>
      <li><a href="http://pac.lfpl.org/polaris/view.aspx?cn=454007">Record (Catholic)</a></li>
      <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=404489">Renfro Valley Bugle</a></li>
      <li><a href="http://pac.lfpl.org/polaris/view.aspx?cn=453975">Saint Louis Post Dispatch </a></li>
      <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=453979">Seattle Times </a></li>
      <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=404129">Speedhorse the Racing Report</a></li>
      <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=453975">St. Louis Post Dispatch</a></li>
      <li><a href="http://pac.lfpl.org/polaris/view.aspx?cn=396767">USA Today</a></li>
      <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=453995">Village Voice</a></li>
      <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=454001">Voice Tribune (Louisville, KY)</a></li>
      <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=404858">Wall Street Journal</a></li>
      <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=453978">Washington Post</a></li>
      <li> <a href="http://pac.lfpl.org/polaris/view.aspx?cn=404101">Western Recorder</a></li>
      </ul>
    </div>
    </div>
    
    <div align="center"><a href="#top">Back to Top</a></div>
    <h2><a name="kentucky" id="kentucky"></a>Kentucky Newspapers on Microfilm</h2>
 
      <p>These newspapers are located on the second floor of the   Main Library, 301 York Street, Louisville KY 40203.</p>


      <table id="table5" border="0" cellpadding="5" cellspacing="1" width="80%">

      <tr>
            <td  valign="top" class="bold" >Title</td>
            <td  valign="top" class="bold">Dates Held</td>
            <td  valign="top" class="bold">Format</td>
          </tr>
          <tr>
            <td valign="top" class="italic">Louisville Public Advertiser</td>
            <td valign="top">July 1818-1832<br />
            1834-Oct. 1841</td>
            <td valign="top">Microfilm</td>
          </tr>
          <tr>
            <td valign="top" class="italic">Louisville daily Journal</td>
            <td valign="top">NOV. 1830-JAN. 1832 &amp; MAY 1836-NOV. 1868</td>
            <td valign="top">Microfilm</td>
          </tr>
          <tr>
            <td valign="top" class="italic">Catholic Advocate</td>
            <td valign="top">FEB. 1841 - JUL. 1849, JUN. 1869-1899</td>
            <td valign="top">Microfilm</td>
          </tr>
          <tr>
            <td valign="top" class="italic">Louisville Morning Courier</td>
            <td valign="top">1844-1861, 1866-1868</td>
            <td valign="top">Microfilm</td>
          </tr>
          <tr>
            <td valign="top" class="italic">Louisville Daily Democrat</td>
            <td valign="top">1851-APRIL 1869</td>
            <td valign="top">Microfilm</td>
          </tr>
          <tr>
            <td valign="top" class="italic">Louisville Courier-Journal</td>
            <td valign="top">NOV. 1868 - PRESENT</td>
            <td valign="top">Microfilm</td>
          </tr>
          <tr>
            <td valign="top" class="italic">Evening Post</td>
            <td valign="top">MAY 1878 -OCT 1925</td>
            <td valign="top">Microfilm</td>
          </tr>
          <tr>
            <td valign="top" class="italic">Record</td>
            <td valign="top">1879 - 1973</td>
            <td valign="top">Microfilm</td>
          </tr>
          <tr>
            <td valign="top" class="italic">Louisville Times</td>
            <td valign="top">MAY 1884 - FEB. 1987</td>
            <td valign="top">Microfilm</td>
          </tr>
          <tr>
            <td valign="top" class="italic">Kentucky Irish American</td>
            <td valign="top">1898 - 1968</td>
            <td valign="top">Microfilm</td>
          </tr>
          <tr>
            <td valign="top" class="italic">Herald</td>
            <td valign="top">APR. 1903 - OCT. 1925</td>
            <td valign="top">Microfilm</td>
          </tr>
          <tr>
            <td valign="top" class="italic">Louisville Leader</td>
            <td valign="top">NOV. 1917 - SEPT. 1950</td>
            <td valign="top">Microfilm</td>
          </tr>
          <tr>
            <td valign="top" class="italic">Herald-Post<br />
            (evening)</td>
            <td valign="top">NOV. 1925 - OCT. 1936</td>
            <td valign="top">Microfilm</td>
          </tr>
          <tr>
            <td valign="top" class="italic">Herald-Post <br />
            (morning)</td>
            <td valign="top">NOV. 1925 - FEB. 1927</td>
            <td valign="top">Microfilm</td>
          </tr>
          <tr>
            <td valign="top" class="italic">Louisville Defender</td>
            <td valign="top">1951 - present</td>
            <td valign="top">Microfilm</td>
          </tr>
    </table>
