

    <h2><a name="placing" id="placing"></a>Placing a Request</h2>
    <p>You may place requests online for Library items (excluding 7 day bestsellers)  using our Web  catalog.&nbsp;Follow the instructions below, then use the link below to go to  the Web catalog.&nbsp;</p>
    <p>You will need the number from your LFPL library card (the 13  digits below the barcode) and your password.&nbsp;(<a href="#pw">what's my password?</a>)&nbsp;Enter these numbers in the bppropriate boxes on the login screen and click the login button.</p>
    <h3>Instructions for Placing a Request</h3>
    <ol>
      <li>From any page on the library's Web site, click on the <strong>&quot;</strong><a href="http://pac.lfpl.org/polaris/Search/default.aspx?">Library              Catalog</a><strong>&quot;</strong> button. </li>
      <li>Search the catalog to find the item/s you want to reserve. </li>
      <li>On each item listing in the catalog there should be a link that says              &quot;Place Request.&quot; Click the &quot;Place Request&quot; link. You’ll be taken to a log-in screen. Log in using your  library barcode number and password.</li>
      <li>Specify which branch you want to have the item transferred            to for you to pick up and submit your request.</li>
      <li>Once the request has been submitted, it should show up on the &quot;My Account&quot; page whenever you log in with your card              number and password.  You can go there to check the status of your request.</li>
    </ol>
    <p>For more information on <strong><a href="http://www.lfpl.org/pdf/Manage-Requests-Reserves.pdf" target="_blank">Placing &amp; Managing Requests</a></strong> <a href="http://www.lfpl.org/pdf/Manage-Requests-Reserves.pdf" target="_blank">- click here</a>. </p>
