<div class="research jumbotron">
  <h1>Research</h1>
</div>
<div class="row">
  <ul class="col-md-4 nav nav-pills nav-stacked">
    <li>{{#link-to "ill"}}Interlibrary Loan{{/link-to}}</li>
    <li>{{#link-to "internet"}}Internet at the Library{{/link-to}}</li>
    <li>{{#link-to "genealogy"}}Genealogy information{{/link-to}}</li>
    <li>{{#link-to "government"}}Government documents{{/link-to}}</li>
    <li>{{#link-to "newspapers"}}Newspapers{{/link-to}}</li>
  </ul>
  <div class="col-md-8 info-display">
    {{outlet}}
  </div>
</div>
