<h1 align="center"><img src="images/team-treehouse-header.gif" width="575" height="105"  alt=""/></h1>
   <h1 align="center"><a href="https://teamtreehouse.com/gateways/lfpl/signin"><img src="images/Login.gif" alt="" width="157" height="77" class="imagelink"/></a> <a href="https://teamtreehouse.com/gateways/lfpl/signup"><img src="images/signup.gif" alt="" width="157" height="77" class="imagelink"/></a> <a href="#what"><img src="images/whatistreehouse.gif" width="157" height="77" alt=""/></a></h1>
   <h1>Did you ever want to build your own website?  What about starting  a business or developing  your own app? </h1>
   <p>These are just a few of the skills you can now learn   FREE online with your <em>Louisville Free Public  Library card*</em> using a new service called Treehouse.</p>
   <p>To get started, click one of the buttons above.</p>
<ul>
  <li>    <a href="https://teamtreehouse.com/gateways/lfpl/login">Returning User Login</a>  </li>
  <li>    <a href="https://teamtreehouse.com/gateways/lfpl/signup">New User Signup</a>  </li>
  </ul>
<p><em><strong>Don&rsquo;t have a library card?</strong> Click here to <a href="http://www.lfpl.org/get-card.htm">apply online</a></em>.</p>
<h4>*Please Note:  Library cards must be in good standing to access  all library services, including  Treehouse. Cards  in good standing will have an account balance under $10 and current registration information. </h4>
<hr />
<h1><a name="what" id="what"></a>What is Treehouse?</h1>
<p>Treehouse is an online video and interactive learning platform that teaches people how to design and develop websites and mobile apps.  Classes include coding languages like HTML, CSS, PHP, and Ruby, as well as iPhone and Android apps. </p>
<p>Treehouse offers unlimited access to more than 1,300 videos, covering topics from basic HTML coding to JavaScript to app development for iPhones, iPads, and Android smart phones.  Learning with Treehouse is project-based, so you learn by doing. Projects are taught through a combination of short videos, code challenges, and quizzes to maximize engagement. You keep track of your accomplishments through gamification - earning badges to mark your progress. </p>
<p>In addition to projects, Treehouse also has Learning Adventures -- entire curriculums designed to get students job ready. </p>
<p><strong>Highlights:</strong><br />
  • Build a Website - You’ll learn the basics to building a website with an introduction to text editors, basic HTML tags, and advanced HTML skills. </p>
<p>• Start a Business - Find out how to get your business off the right foot. Topics include corporate structure, marketing, finance, and more! </p>
<p>• Learn to Code - Learn technologies such as Ruby on Rails to help you build the next world changing product. </p>
<p>• Build an iPhone App - If you want to learn how to build iPhone or iPad apps, this is the spot. You’ll learn the language, tools, and necessary concepts to get your app out the door. </p>
<p>• Build an Android App - You’ll see exactly how to build a finished Android app with touch &amp; motion. You’ll also learn the Java language and Android SDK.</p>
<p>To get started, <a href="https://teamtreehouse.com/gateways/lfpl/signup">click here</a>.   </p>

